# Port for the backend server
PORT=5000

# Secret key for JWT Authentication
JWT_SECRET=your_jwt_secret_key_here

# Initial Admin Password (used during database seeding)
ADMIN_PASSWORD=your_initial_admin_password
